#main-content {
	width: auto;
	color: #000;
}
.warning{
	color: #ff0000;
}
	
	
ul{
	background-color: #efefef;
	padding: 10px;
	margin: 10px auto;
	width: 80%;
	}
ul li{
	color: #4e4e4e;
	
}
	
ol > li {
		color: #2a2a2a; 
}	
/*Selector adyacente*/
#main-content p + p + p{
	font-weight: bold;
}

div ~ p {
	font-weight: bold;
	text-decoration: underline;
	color: magenta;
}
div p:first-child {
	text-transform: uppercase;
}

ul > li:last-child {
	color: red;
}
a:link{
	color: #922a2a;
}
a:visited{
	color: green;
}
a:active{
	color: #fff;
	background: magenta;
}
a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
	background: red;
}
input:focus{
background-color: magenta;
}		
p:first-letter{
text-transform: uppercase;
}
p:first-line{
font-weight: bold;
font-family: arial;
}
ol li:after{
content:"-Suele pasar-";
font-style: italic;
}
h1:before
{
content:"Ups!";
text-transform: uppercase;
margin-right: 10px;
}
div p:only-child {
    font-style: italic;
}
ul > li:nth-child(2){
	border-bottom: 1px dashed red;
}

p::selection {
	background-color: #000;
	color: #fff;
}
p::-moz-selection {
	background-color: #000;
	color: #fff;
}
